.w-content {
	top: 1.375rem;
	padding-bottom: 1.37rem;
	position: absolute;
	left: 0;
	right: 0;
	/* 增加该属性，可以增加弹性*/
	-webkit-overflow-scrolling: touch;
	z-index:1; 
}
.right{float: right;}
.left{float: left;}
.chatList li{border-bottom: 1px solid #eee;}
	.chatList .head{width: 2rem;height: 1.866rem;float: left;text-align: center;position: relative;}
	.chatList .head img{margin-top: 0.25rem;width: 1.333rem;height: 1.333rem;}
	.chatList .head .num{color:white;position: absolute;right: 0.06rem;top: 0.05rem;background-color: #EB4D4B;padding: 0rem 0.18rem;border-radius: 0.3rem;}
	.chatList .content{margin-left: 2rem;height: 1.866rem;padding: 0.3rem 0.3rem;}
	.chatList .content .title{white-space: nowrap;float: left;width: 5.2rem;text-overflow: ellipsis;overflow: hidden;font-size: 0.42rem;color: black;font-weight: bold;}
	.chatList .content .time{white-space: nowrap;color: #AAAAAA;}
	.chatList .content .msg{white-space: nowrap;float: left;color: #7A7A7A;margin-top: 0.12rem;font-size: 0.38rem;}
	
	.chatList .menmber li{position: relative;}
		.chatList .menmber .title{width: 100%;font-weight: normal;}
		.chatList .menmber span:first-child{width: 2.2rem;display: inline-block;}
		.chatList .menmber .line{width: 1px;background-color: #ccc;height: 0.8rem;position: absolute;bottom: 0.58rem;right: 1.5rem;}
		.chatList .menmber .icon-phone{background:url(../images/project/icon-phone.png) no-repeat;background-size: 0.6rem 0.6rem;display: block;width: 0.6rem;height: 0.6rem;position: absolute;bottom: 0.68rem;right: 0.5rem;}
		
		
.checkSelect{background-color: white;}
	.checkSelect .main{}
	.checkSelect .main>li{position: relative;background-color: white;height: 1.37rem;border-top: 1px solid #eee;line-height: 1.37rem;font-size: 0.45rem;color: black;padding: 0 1.2rem;}
	.checkSelect .main>li>.arrow{background: url(../images/icon-jiantou.png) no-repeat;width: 0.5rem;height: 0.6rem;display: block;background-size: contain;-webkit-transform: rotate(90deg);position: absolute;right: 0.4rem;top: 0.45rem;}
	.checkSelect .main>li>.arrow.active{-webkit-transform: rotate(-90deg);position: absolute;right: 0.4rem;top: 0.3rem;}
	
	.checkSelect .main>li>.selectBtn{background: url(../images/icon-select.png) no-repeat;width: 0.5rem;height: 0.5rem;display: block;background-size: contain;position: absolute;left: 0.4rem;top: 0.42rem;}
	.checkSelect .main>li>.selectBtn.active{background: url(../images/icon-select1.png) no-repeat;width: 0.5rem;height: 0.5rem;background-size: contain;}
	
	.checkSelect .branch{background-color: #F9F9F9;}
	.checkSelect .branch>li{line-height: 0.5rem;font-size: 0.45rem;color: #7A7A7A;position: relative;}
	.checkSelect .branch>li>.item>.txt{margin-left: 1.3rem;line-height: 0.7rem;border-bottom: 1px solid #ddd;padding: 0.4rem;}
	.checkSelect .branch>li:last-child>.item>.txt{border-bottom: none;}
	.checkSelect .branch>li .selectBtn{background: url(../images/icon-select.png) no-repeat;width: 0.5rem;height: 0.5rem;display: block;background-size: contain;position: absolute;left: 0.42rem;top: 50%;margin-top: -0.3rem;}
	.checkSelect .branch>li .selectBtn.active{background: url(../images/icon-select1.png) no-repeat;width: 0.5rem;height: 0.5rem;background-size: contain;}
	.checkSelect .branch>li .verifyed{position: absolute;left: 0.2rem;top: 50%;margin-top: -0.3rem;font-size: 0.4rem;color: #aaa;}
	.checkSelect footer{background-color:white;width: 100%;height: 1.37rem;position: fixed;bottom: 0;left: 0;border-top: 1px solid #ddd;color: #4F5A7D;z-index: 999;}
	.checkSelect footer .slideDown{background: url(../images/slideDown.png) no-repeat;width: 0.5rem;height: 0.5rem;display: block;background-size: contain;position: absolute;left: 0.75rem;top: 0.42rem;}
	.checkSelect footer .slideUp{background: url(../images/slideUp.png) no-repeat;width: 0.5rem;height: 0.5rem;display: block;background-size: contain;position: absolute;left: 0.75rem;top: 0.42rem;}
	.checkSelect footer div{width: 50%;box-sizing: border-box;height: 1.37rem;text-align: center;line-height: 1.37rem;font-size: 0.45rem;cursor: pointer;position: relative;}
	.checkSelect footer .line{width: 1px;background-color: #ddd;height: 0.7rem;position: absolute;left: 50%;bottom: 0.3rem;}
    .checkSelect footer div:active{background-color: #ccc;}

.check .errorItem{
	height:1.373rem;margin-top: 0.4rem; line-height: 1.373rem;font-size: 0.4rem;color:#eb6d00;position: relative;background-color: #fff;
}
.check .errorItem i{background: url(../images/icon-jiantou.png) no-repeat;position: absolute;right: 0.15rem;top: 0.42rem;display: block;width: 0.5rem;height: 0.5rem;background-size: contain;}
.check .errorItem .line{width: 0.1rem;height: 0.6rem;position: absolute;left: 0;top: 0.37rem;background-color: #eb6d00;}
.check .errorItem .title{color: black;width: 3rem;margin-left: 0.5rem;}
.check .errorItem .selectItem{width: 3rem;text-align: right;margin-right: 1rem;}
.check .errorItem .itemStatus{color: #0B984D;}


.check .errorList{margin-top: 0.05rem;}
.check .errorList li{padding: 0.35rem;background-color: #fff;font-size: 0.4rem;color: #999;border-top: 1px solid #eee;line-height: 0.58rem;}

.check .photoList{background-color: white;margin-top: 0.05rem;}
.check .photoList li{border-bottom: 1px solid #fff;}
.check .photoList .head{width: 2.666rem;height: 2.666rem;float: left;text-align: center;position: relative;}
.check .photoList .head img{margin-top: 0.4rem;width: 1.866rem;height: 1.866rem;}
.check .photoList .content{margin-left: 2.666rem;height: 2.666rem;padding: 0.3rem 0.3rem;border-bottom: 1px solid #ddd;}
.check .photoList .content:last-child{border-bottom: none;}
.check .photoList .content .title{white-space: nowrap;float: left;width: 6.5rem;text-overflow: ellipsis;overflow: hidden;font-size: 0.42rem;color: black;font-weight: bold;margin-top: 0.1rem;border: none;}
.check .photoList .content .msg{border: none;width:6.5rem;float: left;color: #7A7A7A;margin-top: 0.18rem;font-size: 0.38rem;height: 1.1rem;overflow: hidden;text-overflow: ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2; }


.check .remark{margin-top: 0.4rem;text-align: center;background-color: white;padding-bottom: 0.5rem;}
.check .remark .txt{font-size: 0.45rem;text-align: left;line-height: 1.4rem;color: #666;margin-left: 0.4rem;}
.check .remark textarea{width: 8.8rem;border: 1px solid #ddd;padding: 0.3rem 0.2rem;font-size: 0.4rem;}
.check .btn-div{margin-top: 0.5rem;background-color: white;text-align: center;height: 1.6rem;border-top: 1px solid #eee;}
.check .btn-div span{background-color:#EB6D00;color: white;padding: 0.3rem 3.3rem;line-height: 1.6rem;font-size: 0.45rem;border-radius: 0.15rem;}
.check .btn-div span:active{background-color:#c96d00;}

.check footer{margin-top: 0.4rem;background-color:white;width: 100%;height: 1.37rem;border-top: 1px solid #ddd;color: #4F5A7D;z-index: 999;}
.check footer div{width: 50%;box-sizing: border-box;height: 1.37rem;text-align: center;line-height: 1.37rem;font-size: 0.45rem;cursor: pointer;position: relative;}
.check footer #preSave{background-color: white;color: #EB6D00;}
.check footer #sure{background-color: #EB6D00;color: white;}
.check footer #preSave:active{background-color:#eee;}
.check footer #sure:active{background-color: #c96d00;}


.createPaper .selectItem{
	height:1.373rem;line-height: 1.373rem;font-size: 0.4rem;color:#eb6d00;position: relative;background-color: #fff;
}
.createPaper .selectItem i{background: url(../images/icon-jiantou.png) no-repeat;position: absolute;right: 0.15rem;top: 0.42rem;display: block;width: 0.5rem;height: 0.5rem;background-size: contain;}
.createPaper .selectItem .title{color: #999;width: 3rem;margin-left: 0.5rem;}
.createPaper .selectItem .item{width: 3rem;text-align: right;margin-right: 1rem;color: black;}
.createPaper .item .photo-div{position: relative;width: 33%;height: 2.5rem;float: left;box-sizing: border-box;text-align: center;margin-top: 0.3rem;}
.createPaper .item .photo-div .uploadPic{width:80%;height: 2.5rem;margin: o auto;}
.createPaper .item .photo-div .close{display: block;position: absolute;right: 0;top: -0.2rem;width: 0.5rem;}

/*图片上传*/
.shadow{width: 100%;height: 100%;position: fixed;background-color: rgba(0,0,0,0.3);left: 0;bottom: 0;z-index: 888;}
.photeUpDiv {width: 100%;position: fixed;bottom: 0px;left: 0px;z-index: 999;}
.photeUpDiv .item {height: 1.3rem;background-color: white;border: 1px solid #ccc;width: 95%;margin: 0 auto;padding: 0 0.3rem;line-height: 1.3rem;color: black;font-size: 0.4rem;}
.photeUpDiv .item:first-child {border-top-left-radius: 0.2rem;border-top-right-radius: 0.2rem;}
.photeUpDiv .item:nth-child(2) {border-bottom-left-radius: 0.2rem;border-bottom-right-radius: 0.2rem;}
.photeUpDiv .item:last-child {border-radius: 0.2rem;margin-top: 0.2rem;text-align: center;font-size: 0.5rem;color: #007AFF;}
.loading{position:fixed;z-index: 999999;width:100%;height:16rem;background:rgba(0,0,0,0.1);height: 100%;}
.loading>span{position:absolute;top:40%;left:46%}

#photoList{padding-bottom: 1.3rem;}
.photoList .item .photo-div{position: relative;width: 33%;height: 2.7rem;float: left;box-sizing: border-box;text-align: center;margin-top: 0.3rem;position: relative;}
.photoList .item .photo-div .uploadPic{width:90%;height: 2.7rem;margin: o auto;position: absolute;bottom: 0;left: 5%;border-radius: 0.2rem;}
.photoList .item .photo-div.active .picShadow{display: none;}
.photoList .item .photo-div .picShadow{width:90%;height: 2.7rem;margin: o auto;background-color: rgba(0,0,0,0.2);position: absolute;bottom: 0;left: 5%;border-radius: 0.3rem;}
.photoList .item .photo-div .close{display: block;position: absolute;right: 0.25rem;top: 0.15rem;width: 0.5rem;background: url(../images/check-close.png); width: 0.6rem;height: 0.6rem;background-size: contain;}
.photoList .item .photo-div.active .close{display: block;position: absolute;right: 0.25rem;top: 0.15rem;width: 0.5rem;background: url(../images/icon-red.png); width: 0.6rem;height: 0.6rem;background-size: contain;}
.photoList .item .photo-div.flag .close{display: none;}
.photoList #submitBtn{height: 1.3rem;width: 100%;line-height:1.3rem;text-align: center;color: #EB4D4B;position: fixed;bottom: 0;left: 0;z-index: 999;background-color: white;border-top: 1px solid #eee;font-size:0.48rem}
.photoList #submitBtn:active{background-color: #ddd;}

.ticket .title{width:100%;height:1.473rem;background: url(../images/project/icon-address.png) no-repeat;background-size: 0.8rem 0.907rem;
	background-position: 4% center;text-indent: 4em;vertical-align: middle;background-color: #ffffff;line-height: 1.473rem;font-size: 0.45rem;}
	.ticket .box{background-color: white;padding: 0.3rem 0.3rem 0 0.3rem;margin: 0.3rem;border-radius: 0.2rem;border-top: 1px solid #ccc;}
	.ticket .box .box-title{font-size: 0.45rem;}
	.ticket .box .box-title span:first-child{width: 1rem;display: inline-block;font-weight: bold;}
	.ticket .box .time{color: #999;line-height: 0.8rem;}
	.ticket .box .info{color: #999;font-size: 0.38rem;line-height: 0.9rem;border-bottom: 1px dashed #ccc;}
	.ticket .box .tab{color: #EA6D01;line-height: 1.4rem;font-size: 0.4rem;}
	.ticket .box .txt{border-bottom: 1px solid #f5f5f5;line-height: 0.7rem;font-size: 0.4rem;color: #999;padding-bottom: 0.5rem;}

.projectProgress .mui-scroll-wrapper{background-color: white;height: 1.3rem;}
   .projectProgress .mui-control-item{height: 1.3rem;line-height: 1.3rem;}
   .projectProgress .mui-active{color: #EB6D00 !important;border-bottom: 2px solid #EB6D00 !important;font-size: 0.45rem;}
   .projectProgress .box{margin-top: 0.2rem;background-color: white;}
   .projectProgress .box .tab{font-size: 0.4rem;color: #999;border-bottom: 1px solid #eee;padding: 0.3rem}
   .projectProgress .box .tab span:nth-child(1){width: 2.5rem;display: inline-block;}
   .projectProgress .box .tab span:nth-child(2){width: 3rem;display: inline-block;}
   .projectProgress .box .tab span:nth-child(3){}
   .projectProgress .box .itemList{padding: 0.3rem;}
   .projectProgress .box .item{position: relative;padding: 0.4rem 0;height: 100%;}
   .projectProgress .box .item .point{width: 0.3rem;height: 0.3rem;background-color: #4EB5E7;display: inline-block;border-radius: 50%;vertical-align: top;margin-top: 0.125rem;}
   .projectProgress .box .item .line1{width: 1px;height: calc(100% - 0.5rem);background-color: #4EB5E7;display: inline-block;position: absolute;left: 0.12rem;top: 0.88rem;}
   .projectProgress .box .item .line2{width: 1px;height: calc(100% - 0.5rem);background-color: #ccc;display: inline-block;position: absolute;left: 2.8rem;top: 0.88rem;}
   
   .projectProgress .box .item .point.type1{background-color: white;border: 1px solid #4EB5E7;}
   .projectProgress .box .item .point.type2{background-color: #EA6D01;}
   .projectProgress .box .item .point.type3{background-color: #EB4D4A;}
   .projectProgress .box .item .point.type4{background-color: #2BBD0E;}
   
   .projectProgress .box .item .time{width: 2rem;display: inline-block;margin-left: 0.2rem;vertical-align: top;}
   .projectProgress .box .item .time:nth-child(6){width: 2.3rem;}
   .projectProgress .box .item .txt{width: 3.3rem;display: inline-block;}
   .projectProgress .box .item:last-child .line1{display: none;}
   .projectProgress .box .item:last-child .line2{display: none;}
   .projectProgress .btn-status{position: fixed;bottom: 0rem;z-index:11;left: 0px;height: 1.333rem;background-color: white;width: 100%;line-height: 1.333rem;text-align: center;font-size: 0.4rem;border-top: 1px solid #eee;}
   .projectProgress .statu{width: 25%;float: left;box-sizing: border-box;}
   .projectProgress .btn-status .point{width: 0.4rem;height: 0.4rem;background-color: #4EB5E7;display: inline-block;border-radius: 50%;vertical-align: middle;position: relative;left: -0.15rem;top: -0.05rem;}
   .projectProgress .btn-status .statu:nth-child(1) .point{background-color: white;border: 1px solid #4EB5E7;}
   .projectProgress .btn-status .statu:nth-child(2) .point{background-color: #EA6D01;}
   .projectProgress .btn-status .statu:nth-child(3) .point{background-color: #EB4D4A;}
   .projectProgress .btn-status .statu:nth-child(4) .point{background-color: #2BBD0E;}





















































