/*install-assess 安装评价*/
	html{background:#EFEFF4;}
	.y-section>p{width:100%;height:1.2rem;background:#fff;line-height:1.2rem;padding:0 .3rem;color:#333}
	.y-section>p>span{color:#AAA}	

	    
	    .y-pingjia{background:#fff;overflow:hidden}
	    .y-pingjia>h1{font-size:.4rem;height:1.2rem;line-height:1.2rem;background:#fff;border-bottom: 1px solid #dddddd;}
	    .y-pingjia>h1>span{font-size:.45rem;border-left:.15rem solid #EB6D00;margin-right:.2rem;}
	    .y-pingjia>textarea{width:100%;height:3rem;font-size:.4rem;background:#F5F5F5;border:none}
	    .y-upload{background:#fff;padding-bottom:.4rem;height:2.4rem;}
	    .y-upload>.y-addImg{width:1.866rem;height:1.866rem;margin-left:.3rem;float:left;}
	    .y-upload>div{width:1.866rem;height:1.866rem;margin-left:.3rem;float:left;position:relative;}
	    .y-upload>div>img{width:100%;height:100%;}
	    .badge{position:absolute;top:-.2rem;right:-.2rem;}
	    
/*install-sign  安装签收*/
		.sign-card{width:9rem;height:auto;margin:.3rem auto;background:#fff;border-radius:4px;box-shadow: 0 0 10px #eee;}
		.sign-card>p{height:1.2rem;line-height:1.2rem;color:#666;padding:0 .3rem;font-size:.45rem}
		.sign-card>p>strong{margin:0 .2rem;border-right:1px solid #ddd}
		.sign-card>p>span{color:#222}
		.sign-card>table{margin-left:.3rem;font-size:.4rem;}
		.sign-card>table tr{height:.8rem;line-height:.8rem;}
		.sign-card>table tr>td:first-child{width:2.4rem;color:#aaa}
		.sign-card>table tr>td:last-child{padding-right:.1rem;}
		.sign-card>table tr>td>span{color:#EB6D00}
		.y-line{border-bottom:1px dotted #ddd;margin:.2rem .3rem;}
	    .y-pingjia>h1>strong{color:#EB6D00;margin-right:.2rem}
	    .y-pingjia>h1>img{width:.3rem;float:right;margin-top:.3rem;}