<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>工地异常</title>
		<!-- Mobile Devices Support @begin -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<script src="../js/flexible.js" type="text/javascript"></script>
		<script src="../js/flexible_css.js" type="text/javascript"></script>
		<!-- Mobile Devices Support @end -->
		<link rel="stylesheet" href="../css/base-reset.css">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/swiper-3.3.1.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/lzr.css">
	</head>
	<style>
		html {
			background: #fff
		}
		
		.mui-slider-progress-bar{background:transparent !important}
		.mui-control-item{border-bottom:4px solid transparent !important;}
		.mui-control-item.active{border-bottom:4px solid #EA6D01 !important;}
	</style>

	<body>
		<div class="mui-bar mui-bar-nav header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<span class="title">工地异常</span>
		</div>
		<div class="g-content g-content-sale mui-content g-content-news-list g-paigong g-gongdi-yichang ">
			<div id="slider" class="mui-slider">
				<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-control-item cur-item" v-on:tap="getData(1,$event)" href="#contentDiv">
						待处理(<span class='num'>{{unDealArrNum}}</span>)
					</div>
					<div class="mui-control-item" v-on:tap="getData(2,$event)" href="#contentDiv">
						已处理(<span class='num'>{{dealArrNum}}</span>)
					</div>
				</div>

				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<div class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="mui-table-view" v-for="item in dataArr">
									<div class="yichang-lists">
										<div class="item-lists">
											<div class="title">
												<span class='title-wen'>{{item.taskName}}</span>
												<span class='title-wen right-wen'>{{item.state | formatStatus}}</span>
											</div>
											<!--<div class="title sub-title">
												<span class='title-wen'>3、淹到挂网</span>
												<span class='title-wen right-wen'>不合格</span>
											</div>-->
											<div class="title sub-title">
												<span class='title-wen'>{{item.content}}</span>
											</div>
										</div>
										<div class="yichang-msg">
											<div class="item-lists">
												<div class="sub-title">
													<div class="listm left-m">
														<span>异常发起：</span> {{item.froms}}
														<br>
														<span>通知人：</span> {{item.receive}}
													</div>
													<div class="listm right-m">
														<span class='shangpinshu'>异常日期</span>{{item.createTime}}
													</div>
												</div>
											</div>
										</div>
										<div class="center-btn" v-if="item.state != '30'">
											<div class="list" v-on:click="closeError(item.id)" v-if="item.state != '30'">关闭异常</div>
											<div class="list jiancha" v-if="item.state == '10'">申请检查</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../js/zepto1.1.6.min.js" type="text/javascript"></script>
		<script src='../js/swiper-3.3.1.min.js' type="text/javascript"></script>
		<script src='../js/mui.min.js'></script>
		<script src="../js/public.js"></script>
		<script type="text/javascript" src="../js/global.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script>
			Vue.filter('formatStatus', function(value) {
				if(value == '10') {
					return "待处理";
				}
				return "已处理";
			})

			var vm = new Vue({
				el: "body",
				data: {
					dataArr: [],
					unDealArr: [],
					unDealArrNum: 0,
					dealArr: [],
					dealArrNum: 0
				},
				methods: {
					getData: function(type,$event) {
						$(".mui-control-item").removeClass("active");
						$($event.target).addClass("active");
						if(type == 1) {
							this.dataArr = this.unDealArr;
						} else {
							this.dataArr = this.dealArr;
						};
						console.log(JSON.stringify(this.dataArr));
					},
					closeError: function(type) {
						close(type)
					},
				},
				ready: function() {
					init();
				}
			});

			function init() {
				mui.ajax(getBaseServerUrl() + '/sites/sitesTask/queryTaskListForException', {
					type: 'get', //HTTP请求类型
					data: {
						sitesId: localStorage.selectSitesId,
						dealType: 1
					},
					success: function(jsonData) {
						if(jsonData.status) {
							vm.unDealArr = jsonData.other.tasklist;
							vm.unDealArrNum = jsonData.other.tasklist.length;
							vm.dataArr = vm.unDealArr;
						} else {
							plus.nativeUI.alert(jsonData.msg);
						}

					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
					}
				});
				mui.ajax(getBaseServerUrl() + '/sites/sitesTask/queryTaskListForException', {
					type: 'get', //HTTP请求类型
					data: {
						sitesId: localStorage.selectSitesId,
						dealType: 2
					},
					success: function(jsonData) {
						if(jsonData.status) {
							vm.dealArr = jsonData.other.tasklist;
							vm.dealArrNum = jsonData.other.tasklist.length;
						} else {
							plus.nativeUI.alert(jsonData.msg);
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {}
				});
			}

			function close(id) {
				mui.ajax({
					url: getBaseServerUrl() + '/sites/sitesTask/saveExceptionClose',
					dataType: 'json',
					contentType: "application/json",
					data: JSON.stringify({
						id: id,
					}),
					type: 'post',
					success: function(jsonData) {
						if(jsonData.status) {
							init();
						}
						plus.nativeUI.alert(jsonData.msg);
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {}
				});
			}
		</script>
	</body>

</html>