<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>任务明细</title>
		<!-- Mobile Devices Support @begin -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<script src="../js/flexible.js" type="text/javascript"></script>
		<script src="../js/flexible_css.js" type="text/javascript"></script>
		<link rel="stylesheet" href="../css/base-reset.css">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/ww.css">
		<link rel="stylesheet" href="../css/lzr.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper-3.3.1.min.css">
	</head>

	<body class="projectProgress">
		<div class="mui-bar header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			东莞南城区南城花园一期A栋2306
		</div>
		<section class="g-content">
			<div class="swiper-container g-content-kanban g-content-jindu">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
							<div class="mui-scroll">
								<div v-for="item in typeArr" class="mui-control-item" v-bind:class="{'mui-active':$index == 0}" v-on:click="selectType(item.code)">
									{{item.name}}
								</div>
							</div>
						</div>
						<div class="box">
							<div class="tab"><span>计划日期</span><span>滚动日期</span><span>事项</span></div>
							<div class="itemList">
								<div class="item" v-for="item in dataArr" v-if="item.stage == selectCode">
									<span class="point"></span>
									<span class="line1"></span>
									<span class="time">{{item.planStartTime | formatDate}}</span>
									<span class="point"></span>
									<span class="line2"></span>
									<span class="time">{{item.realStartTime | formatDate}}</span>
									<span class="txt">{{item.nodeName}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class=" head jiesuan-done">
							工地状态：<span class='zhengchang'>正常</span>&nbsp;&nbsp;无延期
							<span class="rigth-wen">
			     	  	  <span class="time">工期：<span class='tianshu'>65</span>&nbsp;天</span>
							</span>
						</div>
						<div class="gongdi-jindu">
							<div class="jindu-line">
								<span class='line'>
			     	  	 	<span class='kaigongqian'>
			     	  	   	   <span class='heng-wen'>10天</span><br>
								<span class='shu-wen yiwan'>开工前</span>
								</span>
								</span>
								<span class="tou">
			     	  	 	 <span class="kaigong-wen">
			     	  	 	 	<span>开工</span><br>
								<span>2017.04.02</span>
								</span>
								</span>

								<span class='line begin-line'>
			     	  	 	  <span class='kaigongqian kaigong-one'>
			     	  	   	      <span class='shu-wen yiwan'>水电</span>
								</span>
								</span>

								<span class='line begin-line now-line'>
				     	  	   <span class='kaigongqian kaigong-two'>
				     	  	   	   <span class='shu-wen now'>泥水</span>
								</span>
								<span class='tips'>
				     	  	   	    <span>21、第四次检查</span>
								<span>2017-04-02</span>
								</span>
								<span class="shuxian"></span>
								<span class="icon-yuanquan"></span>
								</span>

								<span class='line weiwancheng-line'>
			     	  	 	   <span class='kaigongqian kaigong-two'>
				     	  	   	   <span class='shu-wen weiwan'>木工</span>
								</span>
								</span>
								<span class='line weiwancheng-line'>
			     	  	 	
			     	  	 	   <span class='kaigongqian kaigong-two'>
				     	  	   	   <span class='shu-wen weiwan'>油漆</span>
								</span>
								</span>
								<span class='line weiwancheng-line'>
			     	  	 	  <span class='kaigongqian kaigong-two'>
				     	  	   	   <span class='shu-wen weiwan'>安装验收</span>
								</span>
								</span>
								<span class="tou hui-tou jungong">
			     	  	 	 <span class="kaigong-wen">
			     	  	 	 	<span>竣工</span><br>
								<span>2017-05-06</span>
								</span>
								</span>
								<span class='line weiwancheng-line'>
			     	  	 	  <span class='kaigongqian kaigong-two'>
				     	  	   	   <span class='shu-wen weiwan'>结算</span>
								</span>
								</span>
								<span class="shengyu-gongqi">
			     	  	 	剩余工期：43 天
			     	  	 </span>
							</div>
						</div>
						<div class=" head jiesuan-done jindu-head">
							<span class="linezhu"></span> 项目进度
						</div>
						<div class="m-xiangmu-jindu">
							<div class="item-jindu">
								<canvas id="a_celiang" width='100' height='100'></canvas>
								<span class="circle-wen celiang-wen">
			     	 	   	  <span>{{celiang}}</span><br> 测量
								</span>
							</div>
							<span class="line"></span>
							<div class="item-jindu">
								<canvas id="b_anzhuang" width='100' height='100'></canvas>
								<span class="circle-wen celiang-wen">
			     	 	   	  <span>{{anzhuang}}</span><br> 安装
								</span>
							</div>
							<div class="item-jindu item-jindut">
								<canvas id="c_songhuo" width='100' height='100'></canvas>
								<span class="circle-wen celiang-wen">
			     	 	   	  <span>{{songhuo}}</span><br> 送货
								</span>
							</div>
							<span class="line linetwo"></span>
							<div class="item-jindu item-jindut">
								<canvas id="d_jiancha" width='100' height='100'></canvas>
								<span class="circle-wen celiang-wen">
			     	 	   	  <span>{{jiancha}}</span><br> 检查
								</span>
							</div>
							<span class="line linethree"></span>
							<div class="item-jindu item-jindut">
								<canvas id="e_yanshou" width='100' height='100'></canvas>
								<span class="circle-wen celiang-wen">
			     	 	   	  <span>{{yanshou}}</span><br> 验收
								</span>
							</div>
						</div>

						<div class=" head jiesuan-done jindu-head">
							<span class="linezhu"></span> 工地异常
						</div>

						<div class="layout-yichang">
							<span class="icon-yichang">进度异常</span>
							<div class="title">
								1、门窗测量异常
							</div>
							<div class="jieduan">
								<span class='icon-jieduan'>木工阶段</span>
								<span class="time">2017-4-12</span>
							</div>
						</div>
						<div class="layout-yichang">
							<span class="icon-yichang">施工异常</span>
							<div class="title">
								1、门窗测量异常
								<span class="time done">已完成</span>
							</div>
							<div class="jieduan">
								<span class='icon-jieduan'>木工阶段</span>
								<span class="time">2017-4-12</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="btn-status" v-if="viewIndex == 0">
			<div class="statu"><span class="point"></span>未开始</div>
			<div class="statu"><span class="point"></span>进行中</div>
			<div class="statu"><span class="point"></span>延期</div>
			<div class="statu"><span class="point"></span>完成</div>
		</div>
		<script src="../js/zepto1.1.6.min.js" type="text/javascript"></script>
		<script src='../js/mui.min.js'></script>
		<script src='../js/vue.min.js'></script>
		<script type="text/javascript" src="../js/global.js"></script>
		<script src="../js/circleProgress.min.js"></script>
		<script src='../js/swiper-3.3.1.min.js' type="text/javascript"></script>
		<script>
			Vue.filter('formatDate', function(value) {
				if(!isEmpty(value)) {
					var dateVal = new Date(value);
					return(dateVal.getMonth() + 1) + "/" + dateVal.getDate();
				}
				return "";
			})

			var vm = new Vue({
				el: "body",
				data: {
					typeArr: [],
					dataArr: [],
					selectCode: '',
					viewIndex: 0
				},
				methods: {
					selectType: function(code) {
						this.selectCode = code;
					}
				},
				ready: function() {
					init();
				}
			});

			function init() {
				mui.ajax(getBaseServerUrl() + '/sites/sitesSchedule/queryScheduleList', {
					type: 'get', //HTTP请求类型
					data: {
						sitesId: localStorage.selectSitesId
					},
					success: function(jsonData) {
						if(jsonData.status) {
							vm.dataArr = jsonData.other.list;
							vm.typeArr = new Array();
							var flag;
							for(var i = 0; i < jsonData.other.list.length; i++) {
								flag = false;
								for(var j = 0; j < vm.typeArr.length; j++) {
									if(vm.typeArr[j].code == jsonData.other.list[i].stage) {
										flag = true;
									}
								}
								if(!flag) {
									vm.typeArr.push({
										code: jsonData.other.list[i].stage,
										name: jsonData.other.list[i].stageName
									});
								}
							}
							vm.selectCode = vm.typeArr[0].code;
						}
					},
					error: function() {}
				});
			}

			var mySwiper = new Swiper('.swiper-container', {
				loop: false,
				autoplay: false,
				spaceBetween: 0,
				centeredSlides: true,
				autoplayDisableOnInteraction: false,
				onSlideChangeStart: function(e) {
					vm.viewIndex = mySwiper.activeIndex;
				}
			});
			var jinduVM = new Vue({
				el: 'body',
				data: {
					celiang: '4/5',
					anzhuang: '5/8',
					songhuo: '2/8',
					jiancha: '5/8',
					yanshou: '2/5',
				}
			});
			var celiangb = eval(jinduVM.celiang);
			var anzhuangb = eval(jinduVM.anzhuang);
			var songhuob = eval(jinduVM.songhuo);
			var jianchab = eval(jinduVM.jiancha);
			var yanshoub = eval(jinduVM.yanshou);

			var circle = new CircleProgress({
				element: a_celiang,
				current: 0.23,
				startAngle: 180,
				backgroundColor: "#fff3e8",
				circleColor: '#eb6d00',
				circleLineWidth: 2

			})
			circle.draw(celiangb);

			var circle1 = new CircleProgress({
				element: b_anzhuang,
				current: 0.23,
				startAngle: 180,
				backgroundColor: "#fff3e8",
				circleColor: '#eb6d00',
				circleLineWidth: 2
			})
			circle1.draw(anzhuangb);

			var circle2 = new CircleProgress({
				element: c_songhuo,
				current: 0.23,
				startAngle: 180,
				backgroundColor: "#fff3e8",
				circleColor: '#eb6d00',
				circleLineWidth: 2
			})
			circle2.draw(songhuob)

			var circle3 = new CircleProgress({
				element: d_jiancha,
				current: 0.23,
				startAngle: 180,
				backgroundColor: "#fff3e8",
				circleColor: '#eb6d00',
				circleLineWidth: 2
			})
			circle3.draw(jianchab)

			var circle4 = new CircleProgress({
				element: e_yanshou,
				current: 0.23,
				startAngle: 180,
				backgroundColor: "#fff3e8",
				circleColor: '#eb6d00',
				circleLineWidth: 2
			})
			circle4.draw(yanshoub)
		</script>
	</body>

</html>